/*------------element selector ----------*/
body{
  margin: 0;
  text-align: center;
  font-family: Perpetua, Baskerville, Big Caslon, Palatino Linotype, Palatino, URW Palladio L, Nimbus Roman No9 L, serif;
}

p{
  margin-bottom: 50px;
}

h1{
  font-size: 3.75rem;
  font-family: 'Sevillana', cursive;
  margin: 50px auto 0 auto;
  color: #82AAE3;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
  font-style: normal;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border-style: dotted none none none;
  border-color: #EDEDED;
  border-width: 5px;
  width: 5%;
  margin: 50px 500px 50px 500px;
}
img{
  margin: 5% auto 2%;
}
/*------------classs selector ----------*/
.top-container{
  background-color: #BFEAF5;
  position: relative;
  padding-top: 120px;
  padding-bottom: 100px;
}
.bottom-container{
  background-color: #66BFBF;
  margin-top: 50px;
  padding-top: 50px;
}
.top-cloud{
  position: absolute;
  top: 1% ;
  left: 70%;
}
.bottom-cloud{
  position: absolute;
  left: 10%;
}

.about-me{
  width: 40%;
  margin: auto;
  line-height: 2;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.left-skill-icon{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.right-skill-icon{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-btn {
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
  width:140px;
  height:49px;
  border-width:1px;
  color:#fff;
  border-color:#599bb3;
  font-weight:bold;
  border-top-left-radius:9px;
  border-top-right-radius:9px;
  border-bottom-left-radius:9px;
  border-bottom-right-radius:9px;
  box-shadow: 0px 10px 14px -7px #276873;
  text-shadow: -1px -1px 0px #3d768a;
  background:linear-gradient(#599bb3, #408c99);
  text-decoration: none;
  padding: 8px 30px;
}

.contact-btn:hover {
  background: linear-gradient(#408c99, #599bb3);
}

.footer-link{
  margin: auto 50px 50px auto;
  color: #11999E;
  text-decoration: none;
}
.footer-link:hover{
  color: white;
}
.footer-text{
  color: white;
  margin: 50px;
  margin-bottom: 20px
}

.bottom-container{
  padding-bottom: 1px;
}

  /* table */
  .table-favorite{
    text-align: center;
  }
  .img-shoes{
    width: 100px;
    height: 100px;
  }
  .description-favorite{
    padding-left: 5%;
    padding-right: 5% ;
  }
   /* PRICING */
   #pricing{
    padding:3% 10%;
    margin: 1%;
  }
    .pricing-column{
      margin-top: 3%;
    }
    .header-text{
      font-size: 1.5rem;
    }
.about-img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
/*------------id selector ----------*/
